.footer_container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-block: 1%;
}

.links {
  display: flex;
  gap: 0.8rem;
}
.links a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  user-select: none;
}
.smicon {
  transition: all 0.5s ease;
}
.smicon:hover {
  color: rgba(255, 255, 255, 0.4);
}
